.task-form {
  display: none;

  &__input {
    width: 100%;
    padding: 9px 14px;
    font-size: 14px;
    line-height: 16px;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 5px;
  }

  &.visible {
    display: block;
  }
}
