.todo {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  width: 750px;
  height: 530px;
  box-shadow: 1px 2px 20px #f3f3f3;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}