.search__bar {
  position: relative;
  margin-bottom: 10px;

  &-input {
    width: 100%;
    padding: 8px 0 8px 30px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-weight: 600;

    &:focus + .search__bar-icon {
      opacity: 0.2;
    }
  }

  &-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
}
